/* Form Login */
html{
    font-size: 30px;
    color: #fff;
}
body{
    background-image: url(../img/Logo-Background/Auth_Image.png);
    display: flex;
    background-size: cover;
    background-position: center;
}
h1{
    margin: 0 0 30px;
}
.container{
    min-width: 700px;
    padding: 60px;
    background: rgba(0, 0, 0, .6);
    margin: 150px auto;
    border-radius: 40px;
    box-shadow: 0px 0px 20px red;      
}
.form__label{
    min-width: 140px;
}
.form__input{
    flex: 1;
    display: block;
    width: 100%;
    font-size: 20px;
    color: #fff;
    border: 1px solid #ced4da;
    border-radius: 3px;
    background: transparent;
}

.form__row{
    display: flex;
    margin-top: 15px;
}
.btn{
    background: transparent;
    border: none;
    font-size: 15px;
    align-self: center;
    color: #fff;
    padding: 15px 30px;
    border: 2px solid rgb(70, 96, 181);
    opacity: 0.8;
    transition: opacity 0.3 linear;
    border-radius: 10px;
    font-weight: 700;
}
.btn:hover{
    background-color: rgba(0, 0, 255, 0.477);
}
.form__but{
    flex-direction: column;
}
h1{
    text-align: center;
}

.form__err{
    color: orangered;
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.form__err--label{
    padding-top: 6px;
}