/* Set variable */
:root {
    --primary--color: #ec411f;
}
/* Reset CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* box-sizing: inherit; */
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

a {
    text-decoration: none !important;
    display: inline-block;
    cursor: pointer;
    color: #fff;
}

ul {
    padding: 0;
    list-style: none;
}

/* Responsive */

.grid {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -5px 0 -5px;
}

.grid__column-2 {
    padding: 0 5px;
    width: 16.6667%;
}

.grid__column-10 {
    padding: 0 5px;
    width: 83.3333%;
}

/* Button primary */
.btn__primary {
    border: none;
    text-transform: uppercase;
    font-size: 2rem;
    min-width: 160px;
    line-height: 50px;
}
/* Main CSS */

/* Header */
#header {
    width: 100%;
    height: 86px;
    background-color: #000;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 2px solid red;
    z-index: 20;
}

#nav {
    display: flex;
    font-size: 2.8rem;
    align-items: center;
}

#nav div:nth-child(2) {
    margin-left: 1%;
    display: flex;
    margin-right: 25%;
    flex: 1;
    justify-content: space-around;
    line-height: 80px;
}

#nav li a {
    color: var(--primary--color);
    padding: 0 12px;
    border-radius: 1px;
    display: block;
}

.nav__menu {
    color: var(--primary--color);
    padding: 0 12px;
    display: inline-block;
    position: relative;
    cursor: default !important;
}

.nav__menu::after {
    content: "";
    display: block;
    position: absolute;
    width: 200px;
    /* background-color: blue; */
    height: 10px;
}

.nav__menu--list {
    position: absolute;
    display: none;
    background-color: #000;
    color: var(--primary--color);
    left: 0;
    font-size: 2rem;
    box-shadow: 0 0 20px #333;
    border-radius: 3px;
    top: calc(100% + 4px);
    animation: fadeIn linear .6s;
    overflow: hidden;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.nav__menu--item {
    line-height: 30px;
    width: 220px;
    padding: 10px 20px;
    text-transform: none;
}

.nav__menu--item:hover {
    background-color: #fff;
    color: #000;
    text-decoration: none;
    /* transition: background-color .3s, color 1s; */
    text-decoration: none;
}

.nav__menu:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    transition: background-color 1s, color 1s;
    border-radius: 1px;
}

.nav__menu:hover .nav__menu--list {
    display: block;
}

#nav li:hover > a {
    background-color: #fff;
    color: #000;
    text-decoration: none;
    transition: background-color 1s, color 1s;
}

.nav__logo {
    display: flex;
    align-items: center;
    color: var(--primary--color);
    cursor: pointer;
    position: relative;
    top: 0;
    left: 0;
}

.nav__logo a {
    text-decoration: none;
}

.nav__logocontent {
    color: var(--primary--color);
    margin-bottom: 0;
    margin-top: 19px;
    /* margin-left: -40px; */
}

.nav__logocontent:hover {
    cursor: pointer;
}

.nav__icon {
    flex-basis: 18%;
}

.nav__icon > div {
    display: flex;
    justify-content: space-between;
}

.nav__logo--img {
    height: 70px;
    width: 112px;
}

.nav__icon div a {
    color: azure;
}

.nav__icon i {
    margin-left: 4px;
    cursor: pointer;
}

.nav__icon i:hover {
    margin-left: 4px;
    cursor: pointer;
    color: rgba(240, 255, 255, 0.5);
}

/* Slider */
#slider {
    padding-top: 84px;
}

.slide {
    position: relative;
}

.slider__img {
    width: 100%;
    height: 800px;
    object-fit: cover;
}

.slider__content {
    position: absolute;
    color: azure;
    left: 10%;
    top: 50%;
    width: 40%;
}

.text__heading {
    height: 195px;
    line-height: 65px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

#slider .text__heading {
    font-size: 6rem;
    text-shadow: 5px 2px 4px var(--primary--color);
}

.btn__slider {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    outline: none;
}

.btn__slider i {
    font-size: 3rem;
    line-height: 50px;
    margin-right: 6px;
}

.btn__slider:hover {
    background-color: #000;
    cursor: pointer;
    color: azure;
}

/* Container */
.container__news {
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
}

#container {
    font-size: 1.5rem;
}

.grid__column--5-12 {
    padding: 30px 5px 0;
    width: 41.667%;
    height: 332px;
    overflow: hidden;
    object-fit: cover;
}

.grid__column--5-12 img {
    width: 100%;
    height: 302px;
    object-fit: cover;
}

.grid__column--4-12 {
    padding: 30px 5px;
    width: 33.333%;
}

.grid__column--4-12 a {
    color: #000;
}

.grid__column--4-12 img {
    width: 100%;
}

.grid__column--3-12 {
    padding: 30px 5px;
    width: 25%;
    border-left: 1px solid #333;
}

#container .content {
    padding: 0 20px;
}

.content__status {
    font-size: 2rem;
    color: red;
    text-transform: uppercase;
    margin-bottom: 20px;
    user-select: none;
    cursor: default;
}

.content__title {
    font-size: 2.6rem;
    margin-bottom: 20px;
    font-weight: 600;
}

.content__title:hover {
    cursor: pointer;
    text-decoration: underline;
}

.grid__column--9-12{
    padding: 50px 5px 30px;
    width: 75%;
}

.btn__viewmore {
    width: 96%;
    background-color: #fff;
    border: 1px solid black;
    transform: background-color 5s, color 5s;
}

.btn__viewmore:hover {
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.container__content {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 600;
    margin: 50px 0 30px;
}

/* Slider */

.slider {
    width: 100%;
    position: relative;
    margin-top: 70px;
}

.slider img {
    width: 100%;
    height: 43.26%;
}

.slider .text__heading {
    font-size: 6rem;
}

.slider__status {
    font-size: 1.8rem;
    color: aqua !important;
    text-transform: uppercase;
}

.slider__status:hover {
    cursor: pointer;
    text-decoration: underline !important;
}

.slider .slider__content {
    left: 60px;
}

/* Container sub */

#container__sub {
    font-size: 1.5rem;
}

#container__sub .content {
    padding: 0 20px;
}

#container__sub .container__content {
    text-transform: none;
}

.container__sub--title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__sub--btn {
    background-color: #fff;
    margin-top: 20px;
    cursor: pointer;
}

.container__sub--img img{
    width: 100%;
    height: 100%;
}

.container__sub--img {
    width: 100%;
    height: 59%;
}

/* Footer */

#footer {
    margin-top: 100px;
    border-top: 1px solid #333;
    color: #fff;
    background-color: #000;
    text-transform: uppercase;
}

.grid__column--6-12 {
    padding: 30px 5px;
    width: 50%;
}

#footer .grid__column--3-12{
    border: none;
}

.footer__logo--img {
    width: 210px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
}

#footer .footer__heading {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 900;
}

#footer .footer__item {
    font-size: 1.7rem;
    text-transform: uppercase;
    margin-top: 15px;
}

.footer__logocontent {
    font-size: 5rem;
    color: #ec411f;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* FORM SIGN IN */

.main__signin {
    /* background-image: url(/assets/img/Auth_Image.png); */
    background: url(../img/Logo-Background/Auth_Image.png) center / cover no-repeat;
    height: 100vh;
    position: relative;
}

.signin__logo {
    display: inline-flex;
    user-select: none;
    margin-top: 10px;
}

.sign__logo--img {
    width: 160px;
    height: 90px;
}

.sign__img--content  {
    color: var(--primary--color);
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 94px;
    margin-left: -50px;
}

.signin__form {
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.8);
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 600px;
    padding: 100px 50px 0;
    color: azure;
    box-shadow: -1px 0 20px red;
}

.sign__form--heading {
    font-size: 3.3rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.sign__form--content {
    font-size: 1.7rem;
    margin-bottom: 60px;
}

.sign__form--input {
    width: 100%;
    padding: 16px 10px;
    font-size: 1.5rem;
    background-color: rgba(51, 51, 51, 0.485);
    border: 2px solid rgb(78, 77, 77);
    color: #fff;
}

.err {
    margin: 10px 0 40px 10px;
    font-size: 1.3rem;
    font-weight: 600;
    color: red;
}

.sign__form--input::placeholder{
    color: red;
    color: #939393;

    font-weight: 500;
}

.sign__form--input:focus::placeholder {
    color: rgba(0, 0, 0, 0);
}

.sign__form--forgotpass {
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-top: -2px;
    margin-bottom: 34px;
    font-weight: 600;
}

.sign__form--forgotpass:hover {
    color: var(--primary--color);
    cursor: pointer;
}

.btn__sign {
    width: 100%;
    padding: 12px 0;
    background-color: rgba(51, 51, 51, 0.6);
    border: 1px solid #fff;
    color: azure;
    font-weight: 600;
    margin-bottom: 30px;
    transition: background-color .4s,color .4s;
}

.btn__sign:hover {
    background-color: red;
    cursor: pointer;
    color: #000;
    border: 1px solid red;
}

.sign__form--register {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
}

.sign__form--registerr {
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
}

.sign__form--register:hover a {
    color: var(--primary--color);
    cursor: pointer;
}

.sign__form--registerr:hover a {
    color: var(--primary--color);
    cursor: pointer;
}

/* FORM SIGN UP */

.signup__form {
    background-color: rgba(51, 51, 51, 0.8);
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 600px;
    padding: 90px 50px 70px;
    color: azure;
    box-shadow: -1px 0 20px red;
    max-height: 100vh;
    overflow-y: auto;
}

.sign__passrequi {
    margin-bottom: 30px;
}

.sign__passrequi--header {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
}

.sign__passrequi--list {
    font-size: 1.2rem;
    list-style: inside;
    color: rgba(202, 202, 202, 0.663);
    font-weight: 600;
    font-style: italic;
}

.sign__passrequi--item {
    margin-bottom: 5px;

}

/* Page Contact Us */

.grid__column--8-12 {
    width: 66.667%;
    padding: 30px 5px;
}

#contact {
    padding-top: 230px;
    background-color: rgba(0, 0, 0, 0.95);
    color: rgb(231, 250, 250);
    padding-bottom: 200px;
    margin-bottom: -100px;
}

.contact__header {
    flex: 1;
}

#contact span:first-child {
    font-size: 1.7rem;
    margin-bottom: 60px;
    display: block;
}

.contact__heading {
    font-size: 7.6rem;
    margin-bottom: 80px;
}

#contact span:last-child {
    display: block;
    padding-right: 100px;
    font-size: 2.5rem;
}

.form__contact {
    background-color: #262626;
    padding: 60px 70px;
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    border-radius: 10px;
    margin-bottom: 200px;
}

.form__contact--label {
    margin-bottom: 15px;
}

.form__contact--input {
    margin-bottom: 30px;
    font-size: 1.8rem;
    padding: 5px 0;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid red;
    color: azure;
}

.form__contact--input:hover {
    background-color: #333;
    border-radius: 3px;
}

.form__contact--input:focus {
    background-color: #333;
    border-radius: 3px;
}

.btn__contact {
    display: inline-block;
    max-width: 100px;
    padding: 10px 0;
    font-size: 1.8rem ;
    background-color: rgba(0, 0, 0, 0.95);
    color: #fff;
    font-weight: 600 ;
    border-radius: 40px ;
}

.btn__contact:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

.pagehere a {
    background-color: #fff;
    color: #000 !important;
}

.content__map {
    text-align: center;
    display: block;
    margin-bottom: 10px;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* DETAILS */

#container__details {
    margin-top: 100px;
    border-bottom: 2px solid #000;
    padding-bottom: 30px;
}

.grid__column--10-12 {
    padding: 30px 10px;
    width: 75%;
}

#container__details .status {
    font-size: 2.2rem;
    color: var(--primary--color);
    text-transform: uppercase;
    margin-bottom: 24px;
    user-select: none;
}

#container__details .img {
    /* background-image: url(../img/Rap/lil-wayne-reflects.jpg); */
    background-position: center;
    padding-top: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#container__details .title {
    font-size: 5rem;
    font-weight: 700;
    line-height: 55px;
    margin-top: 25px;
    user-select: none;
}

#container__details .date {
    margin: 10px 0;
    font-weight: 500;
}

#container__details .content{
    padding: 0;
    font-size: 2rem;
    margin-top: 30px;
    text-align: justify;
}

.grid__column--2-12 {
    padding: 30px 10px;
    width: 25%;
}

.other__info {
    margin-top: 0px;
}

.other__info--header {
    font-size: 2.8rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    border-top: 2px solid #000;
    padding: 5px 0;
}

.other__info--item {
    border-top: 2px solid #000;
    padding: 20px 0 30px;
}

.other__info--item-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.other__info--item-title {
    font-size: 1.8rem;
    font-weight: 800;
    text-align: center;
    display: block;
    margin-top: 10px;
    color: #000;
}

#container__other {
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
}

#container__other .other__info {
    padding-left: 10px;
}

/* PAGE TRENDING */


/* Top 1 */
.grid__column--12-12 {
    width: 100%;
    padding: 30px 10px 0;
}

#container__trending {
    padding: 100px 0;
    font-size: 1.6rem;
    background-color: rgba(0,0,0,0.9);
    color: azure;
    margin-bottom: -100px;
}

.container__trending--img {
    position: relative;
}

#container__trending .location {
    font-size: 8rem;
    font-weight: 1000;
    position: absolute;
    height: 90px;
    line-height: 90px;
    top: 20px;
    min-width: 50px;
    text-align: center;
    right: 3%;
    background-color: rgb(255, 0, 0);
    border-radius: 6px;
    border-top-right-radius: 0px;
    box-shadow: 0px 0 5px #fff;
}

#container__trending .location::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    border-top: 10px solid transparent;
    border-left: 10px solid rgb(167, 2, 2);
}

.header__trending {
    text-align: center;
    font-size: 8rem;
    font-weight: 900;
    border-bottom: 3px solid var(--primary--color);
    padding-bottom: 10px;
    word-spacing: 12px;
    letter-spacing: 4px;
}

#container__trending .img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 600px;
}

#container__trending .name {
    font-size: 4rem;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 15px;
}

#container__trending .author {
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 8px;
    /* border-bottom: 5px solid #333; */
}

#container__trending .grid__column--4-12 {
    padding-left: 10px;
}

#container__trending .function {
    display: flex;
    justify-content: space-around;
}

.underline {
    text-decoration: underline;
    color: aqua;
}

.stats__label {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 10px;
    display: block;
}

.credits__label {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 10px;
    display: block;
}

.stats__label:hover,
.credits__label:hover {
    cursor: pointer;
    color: aqua;
}

#stats__table .grid__column--6-12 {
    text-align: center;
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
}

#stats__table .grid__column--6-12:first-child {
    border-right: 3px solid #333;
}

.name__column {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 8px;
    text-transform: uppercase;
}

#stats__table span {
    font-size: 2.5rem;
}

.credits__title {
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: uppercase;
}

#container__trending  .grid__row:nth-child(2) {
    border-bottom: 3px solid #333;
    padding: 30px 0 50px;
}

/* Top 50 */

#container__trending .grid .grid__row:nth-child(3) {
    background-color: #333;
}

.top50__header {
    flex: 1;
    font-size: 2.4rem;
    /* padding: 10px 0 10px 30px; */
}

.top50__header .grid__column--9-12,
.top50__header .grid__column--3-12 {
    padding: 0;
}

.top50__header .grid__column--3-12 {
    display: flex;
    border-left: none;
}

.top50__header .grid__column--3-12 div{
    flex: 1;
    text-align: center;
}

.header__table {
    display: flex;
}

.top50 {
    display: flex;
    flex: 1;
    border-bottom: 3px solid #333;
}

.top50 .grid__column--9-12 {
    display: flex;
    padding: 0;
}

.top50 .top50_img img {
    width: 250px;
    object-fit: cover;
    height: 200px;
}

.top50 .location__top {
    position: absolute;
    top: 12px;
    left: -7px;
    background-color: var(--primary--color);
    width: 60px;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    line-height: 25px;
    border-radius: 4px;
    border-bottom-left-radius: 0;
}

.top50 .location__top::after {
    content: "";
    display: block;
    position: absolute;
    border-top: 7px solid rgb(160, 2, 2);
    border-left: 7px solid transparent;
}

.top50 .top50_img {
    position: relative;
}

.info {
    flex: 1;
}

.top50 .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px;
    margin-left: 50px;
}

.top50 .info .namee{
    font-size: 4rem;
}

.top50__header {
    padding: 10px 0 10px 20px;
}

.top50 .info .authorr{
    font-size: 3rem;
    color: rgb(156, 155, 155);
}

.top50__icon {
    display: flex;
    align-items: center;
    font-size: 3rem;
    margin-right: 30px;
    position: relative;
    padding: 0 5px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}

#container__trending .grid__row {
    margin-bottom: 10px;
}

.top50__icon .creditss {
    position: absolute;
    background-color: #333;
    width: 400px;
    min-height: 300px;
    padding: 20px;
    padding-bottom: 0;
    font-size: 2rem;
    bottom: -305px;
    border-radius: 5px;
    left: -335px;
    display: none;
    animation: fadeIn linear .4s;
    z-index: 1;
}

.creditss__list {
    list-style: inside;
    max-height: 35vh;
    overflow-y: auto;
}

.top50__icon .creditss__title {
    font-size: 2rem;
    font-weight: 700;
}

.top50__icon .creditss__content {
    color: #848282;
}


.top50__icon .creditss::before {
    content: "";
    display: block;
    position: absolute;
    top: -30px;
    left: calc(100% - 62px);
    border-width: 15px 20px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
}

.top50__icon .creditss .creditss__content{
    margin-bottom: 10px;
    padding-left: 26px;
}

.top50__icon .plus:hover {
    color: rgba(255, 255, 255, 0.5);
}

.top50__icon:hover  .creditss{
    display: block;
}

.top50 .grid__column--3-12 {
    display: flex;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    align-items: center;
    border-right: 2px solid #333;
}

.top50 .grid__column--3-12 .grid__column--6-12:first-child{
    border-right: 2px solid #333;
}

.info__other .audio {
    margin-top: 40px;
}

.audio {
    margin-top: 10px;
    margin-left: 10px;
}

.audio audio {
    width: 100%;
}

.link__view__more {
    width: 100%;
}

/* RELEASE */

.release {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: -100px;
    color: #fff;
    background-color: #191919;
}

#release__header {
    display: flex;
    flex-direction: column;
}

.release__heading {
    text-align: center;
    font-size: 5rem;
    border-bottom: 3px solid #333;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.release__heading h1{
    font-size: 8rem;
    font-weight: 700;
    text-shadow: 2px 2px 3px var(--primary--color);
}

.release__imgheading {
    margin: auto;
    width: 80%;
    padding-top: 40%;
    background-image: url(../img/Logo-Background/release.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#release__header .release__caption {
    margin: auto;
    margin-top: 30px;
    width: 70%;
    text-align: justify;
    font-size: 2rem;
}

.hr {
    height: 1.5%;
    width: 18%;
    background-color: var(--primary--color);
    position: absolute;
}

.release__list {
    margin-top: 30px;
}

.release__main {
    position: relative;
}

.release__name--song {
    font-size: 3.5rem !important;
    font-weight: 1000;
    margin-bottom: 30px;
    line-height: 5rem;
    height: 5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.release__img--song {
    padding-top: 60%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.release__img {
    padding-top: 70%;
    background-size: cover;
    background-position: center;
}

.release__audio audio {
    width: 100%;
}

.release__audio {
    margin-top: 20px;
}

.release__list .release__caption {
    font-size: 1.7rem;
    margin-top: 80px;
    padding: 0 20px;
    text-align: justify;
    font-style: italic;
}

/* PAGINATION */

.pagination__item-page{
    background-color: #ec411f;
    color: #000;
}

.pagination__item-dots:hover{
    cursor: default;
    background-color: #f7f0f0;
}

.home__pagination{
    margin: 20px 20% 50px;
}

.pagination{
    font-size: 2.2rem;
    color: #666;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pagination__item{
    min-width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.pagination__item:hover{
    background-color: rgb(232, 227, 225);
}

.pagination__item-icon{
    color: #666;
    font-size: 2rem;
}

.pagination__item-page:hover{
    background-color: #ec411f !important;
    color: #000 !important;
    cursor: default;
}

.no__hover:hover {
    background-color: #191919;
    cursor: default;
}

.no__hoverr:hover {
    background-color: #fff;
    cursor: default;
}
